* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  height: 100vh;
  width: 100vw;
  /* background: url(assets/background.jpg); */
  color: white;
  background-color: black;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  background: transparent;
}

button:hover {
  background: transparent;
  cursor: pointer;
}

.login,
.signup {
  color: white;
  /* height: 500px; */
  width: 350px;
  padding: 1rem;
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 1px 1px 10px 2px gray;
  /* opacity: .5; */
}


.login h1,
.signup h1 {
  text-align: center;
  transition: all 5s ease-in-out;
}

.login h1:hover,
.signup h1:hover {
  text-decoration: underline;
  cursor: default;
}

.login form,
.signup form {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login form div,
.signup form div {
  /* height: 25%; */
  margin: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login label,
.signup label {
  color: white;
  size: 1.5em;
  margin: .5rem;
}

.login input[type="text"],
.login input[type="password"],
.signup input[type="text"],
.signup input[type="password"] {
  height: 2em;
  width: 100%;
  padding: .5em;
  border-radius: 10px;
}

.login input:hover,
.signup input:hover {
  box-shadow: 1px 1px 1px rgb(69, 69, 192);
}

.login a,
.signup a {
  color: aquamarine;
}

.login a:hover,
.signup a:hover {
  color: aqua;
}

.login button,
.signup button {
  height: 2rem;
  width: 5rem;
  border-radius: 10px;
  background-color: rgb(160, 189, 214);
}

button:hover {
  background-color: rgb(160, 189, 214);
  cursor: pointer;
}

.btn-disable {
  background-color: #cccccc;
  cursor: not-allowed;
  color: transparent;
}

/* @media  (max-width: 768px) {
  .login {
    height: 500px;
  width: 350px;
    padding: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 1px 1px 10px 2px gray;
  }
} */


.root {
  height: 100vh;
  width: 100%;
  display: flex;
}

.temp {
  background-color: gray;
  flex-grow: 1;
  height: 100%;
}

.app {
  height: 100vh;
  width: 100vw;
}

.home {
  height: 100%;
  width: 100%;
  display: flex;
}

.header {
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: .5rem;
}

.main {
  height: 90%;
  width: 100%;
}

.navbar {
  height: 5%;
  width: 100%;
  background-color: black;
}

.navbar ul {
  /* border: 1px solid black; */
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar li {
  border-radius: 50%;
  /* background: transparent; */
}

.navbar button {
  /* box-shadow: 1px 1px 1px gray; */
  /* background-color: gray; */
  cursor: pointer;
}

.searchUser {
  height: 100%;
  width: 100%;
}

.searchBox {
  height: 20%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 1rem;
}

.searchBox form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBox form input {
  padding: 1rem;
  font-size: 1.5em;
  background: transparent;
  width: 100%;
  height: 100%;
  color: white;
}

.userbox {
  height: 80%;
  width: 100%;
  padding: 2rem;
  color: white;
}

.userbox ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.userbox li {
  width: 100%;
  list-style: none;
  margin-bottom: 1rem;
  display: flex;
  cursor: pointer;
}

.userbox img {
  width: 2rem;
  margin-right: 1rem;
}

.user {
  height: 100%;
  width: 100%;
}

.user .user-data {
  height: 100%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.user .user-1 {
  width: 100%;
  margin: .5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-1 span {
  font-size: 1.2em;
}

.user .user-1 button {
  background: transparent;
  color: white;
}

.user .user-profilePic img {
  height: 3rem;
}

.user .follow {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user .user-2 {
  margin: .5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user .user-3 {
  width: 100%;
  margin: .5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user .user-3 button {
  height: 2rem;
  width: 9rem;
  border-radius: 10px;
  background-color: rgb(43, 43, 43);
  color: white;
}

.message {
  height: 100%;
  width: 100%;
  padding: .5rem;
}

.message header {
  height: 10%;
  width: 100%;
  padding: .5rem 0;
}

.message header .left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message header .left img {
  margin: 1rem;
  width: 3rem;
}

.message header .left .bio {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message header .left .bio .name {
  display: flex;
  flex-direction: column;
}

.message header .right {
  width: 50%;
}

.message main {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

.message main .pos {
  width: 100%;
}

.message main .left {
  max-width: 70%;
  float: left;
  background-color: rgb(37, 37, 37);
  padding: .8rem;
  margin: .1rem 0;
  border-radius: 20px;
}

.message main .right {
  max-width: 70%;
  float: right;
  /* background: linear-gradient(
    #de2aee,  #6228d7
    ); */
  background-color: #6228d7;
  padding: .8rem;
  margin: .1rem 0;
  border-radius: 20px;
}

.message footer {
 height: 8%;
 width: 100%;
 background-color: transparent;
 margin: 1rem 0;
}

.message footer .send {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(37, 37, 37);
  border-radius: 20px;
  overflow: hidden;
}

.message input {
  height: 100%;
  width: 100%;
  color: white;
  background: transparent;
  padding: .5rem;
  font-size: 1.1em;
}

.message button {
  margin: 0 .5rem;
}

.send {
  height: 100%;
  width: 100%;
}
/* 
.users {
  height: 75%;
  border: 1px solid red;
} */

@media screen and (max-width: 1024px) and (max-height: 1366px) {

  .login,
  .signup {
    color: white;
    height: 80%;
    width: 80%;
    padding: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 1px 1px 10px 2px gray;
    /* opacity: .5; */
  }

  .login form,
  .signup form {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}