* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  height: 100vh;
  width: 100vw;
  /* background: url(assets/background.jpg); */
  background-color: black;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.login,
.signup {
  color: white;
  /* height: 500px; */
  width: 350px;
  padding: 1rem;
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 1px 1px 10px 2px gray;
  /* opacity: .5; */
}

.login h1,
.signup h1 {
  text-align: center;
  transition: all 5s ease-in-out;
}

.login h1:hover,
.signup h1:hover {
  text-decoration: underline;
  cursor: default;
}

.login form,
.signup form {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login form div,
.signup form div {
  /* height: 25%; */
  margin: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login label,
.signup label {
  color: white;
  size: 1.5em;
  margin: .5rem;
}

.login input[type="text"],
.login input[type="password"],
.signup input[type="text"],
.signup input[type="password"] {
  height: 2em;
  width: 100%;
  padding: .5em;
  border-radius: 10px;
}

.login input:hover,
.signup input:hover {
  box-shadow: 1px 1px 1px rgb(69, 69, 192);
}

.login a,
.signup a {
  color: aquamarine;
}

.login a:hover,
.signup a:hover {
  color: aqua;
}

button {
  height: 2rem;
  width: 5rem;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(160, 189, 214);
  cursor: pointer;
}

.btn-disable {
  background-color: #cccccc;
  cursor: not-allowed;
  color: transparent;
}

/* @media  (max-width: 768px) {
  .login {
    height: 500px;
  width: 350px;
    padding: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 1px 1px 10px 2px gray;
  }
} */

.home {
  height: 100vh;
  width: 100%;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  border: 1px solid black;
}

.navbar {
  width: 5%;
  height: 100%;
}

.navbar ul {
  /* border: 1px solid black; */
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.navbar li {
  border-radius: 50%;
  /* background: transparent; */
}

.navbar li:hover {
  /* box-shadow: 1px 1px 1px gray; */
  /* background-color: gray; */
  cursor: pointer;
}

.searchUser {
  height: 100%;
  width: 100%;
}

.searchBox {
  height: 20%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  border: 1px solid white;
  padding: 1rem;
}

.searchBox form {
  width: 100%;
}

.searchBox form input {
  padding: 1rem;
  font-size: 1.5em;
  background: transparent;
  width: 100% ;
  height: 100%;
  color: white;
}

.serchedUsers {
  height: 80%;
  width: 100%;
  padding: 2rem;
}

.serchedUsers ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.serchedUsers li {
  list-style: none;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  
}

.serchedUsers img {
  width: 2rem;
  margin-right: 1rem;
}